---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div>
    Lorem ipsums dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <hr>
  <h3>Send us a message!</h3>

  <form action="/my-handling-form-page" method="post">
    <div class='row'>
      <div class='col-md-3'>
        <label for="name">Name:</label>
      </div>
      <div class='col-md-3'>
        <input class='mx-auto' type="text" id="name" name="user_name">
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <label for="email">Your email:</label>
      </div>
      <div class='col-md-3'>
        <input type="email" class='my-1'id="email" name="user email">
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <label for="text">Message:</label>
      </div>
      <div class='col-md-6'>
        <textarea style="min-width: 100%"></textarea>
      </div>
    </div>    
    <button type="submit">Send</button>
  </form>
</div>